MONGODB_URI=mongodb+srv://snl_user:MoYG1qDQjEyAuvEs@cluster0.usoybk1.mongodb.net/?appName=Cluster0
JWT_SECRET=replace_this_with_a_very_long_random_secret_string_like_64_chars
ADMIN_USERNAME=snladmin
ADMIN_PASSWORD=Kannan!12345
PORT=3000
